.toolbar_image{
	float: left;
    height: 60px;
    width: 150px;
}
.sidebar_image{
    width: 90%;
	margin-top: 20px;
}

.copyright-text{
    color: red;
}
.toolbar_title{
	display: inline-block;
}


